# Database Configuration
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=BetaFruit;encrypt=true;trustServerCertificate=true
DB_USERNAME=ten_dang_nhap_sql_cua_ban
DB_PASSWORD=mat_khau_sql_cua_ban

